.cardbody{
    background-color: cornflowerblue;
    border: red;
    padding: 2%;
    margin: 4%;
    font-size: large;
    border-radius: 3%;
}
h1{
    border-radius: 5%;
    padding: 2%;
}
s{
    color: red;
}
@media only screen and (min-width:320px) and (max-width:480px){
    .card{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .cardbody{
        width: 90%;
        font-size: 30px;
        background-color:seagreen;
    }
    button{
        font-size: large;
    }

}
 @media only screen and (min-width:481px) and (max-width:768px){
     .cardbody{
         display:flex;
         flex-direction: row;
         flex-wrap: wrap;
     }
        
    }
}
    
